---
import SkillBox from "./skill-box.astro";
import Next from "./next.astro";
import { skills } from "../pages/api/skills.ts";
const idList = skills.map((skill) => skill.id);
let current = 0;
const currentSkill = skills[current];
---

<div class='skill-reel' data-skillids={idList}>
  <Next next='false' />
  <SkillBox
    client:load
    id={skills[current].id}
    title={skills[current].title}
    description={skills[current].description}
    skills={skills[current].skills}
    active={true}
  />
  <Next next='true' />
</div>
<script type='module' define:vars={{ ids: idList }}>
  let current = 0;

  function updateSkill(direction) {
    current += direction;
    console.log(current);
  }

  document.getElementById("next-button-next").addEventListener("click", () => updateSkill(1));
  document.getElementById("next-button-previous").addEventListener("click", () => updateSkill(1));
</script>
<style>
  .skill-reel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
</style>
